body, input {
    font: 15px Consolas, 'Menlo', monospace !important;
}

.navbar {
    margin-top: 10px;
    margin-bottom: 10px;
}

.navbar-brand {
    padding-left: 0;
    font-size: 175%;
    color: #777;
}

.jumbotron {
    padding: 10px;
}

.no-padding {
    padding: 0;
}

/**
 *
 * Spreadsheet
 *
 **/

.cell {
    padding: 0;
    border: 1px solid #ddd;
    height: 35px;
}

.cell.formula-mode {
    border: 1px dashed red;
}

.cell.source-mode {
    border: 1px dashed blue;
}

.cell a {
    height: 35px;
    line-height: 35px;
    padding: 6px 11px;
    line-height: 1.42;
    color: #555;
}

.cell a:hover {
    text-decoration: none;
}

.cell input {
    border: 0;
    border-radius: 0;
    height: 33px;
    background-color: #FEFFC2;
}

.cell.edit-mode    a { display: none; }
.cell.formula-mode a { display: none; }
.cell.display-mode a { display: block; }
.cell.source-mode  a { display: block; }

.cell.edit-mode    input { display: block; }
.cell.formula-mode input { display: block; }
.cell.display-mode input { display: none; }
.cell.source-mode  input { display: none; }

/**
 *
 * Presentation
 *
 **/

.workspace {
    margin-top: 10px;
    background-color: #bbb;
    border: 1px solid #bbb;
    border-radius: 4px;
    height: 500px;
    overflow: auto;
}

.canvas {
    display: block;
    width: 600px;
    height: 450px;
    margin-top: 25px;
    margin-bottom: 5px;
    margin-right: auto;
    margin-left: auto;
    padding: 20px 50px;
    height: 600px;
    background-color: white;
    outline: none;
}

.thumbs {
    margin-top: 10px;
    height: 500px;
}

.thumbs-inner {
    background-color: #bbb;
    border: 1px solid #bbb;
    border-radius: 4px;
    height: 500px;
    overflow: auto;
}

.thumb {
    background-color: white;
    height: 70px;
    margin: 5px;
    padding: 5px;
    border: 2px solid white;
    border-radius: 2px;    
    cursor: pointer;
    font-size: 30%;
}

.thumb.active {
    border: 2px solid #555;
}
